.container
.alert.alert-info
  | This is a sample sign-up form created using:
  a(href='http://www.nodejs.org') nodejs
  | ,
  a(href='http://twitter.github.com/bootstrap/')  twitter-bootstrap
  | and
  a(href='http://jquery.com') jquery
.container
.content
  form#registerHere.form-horizontal(method='post', action='/register')
    fieldset
      legend Sign-up Form
      .control-group
        label.control-label(for='input01') Name
        .controls
          input#name.input-xlarge(type='text', name='user_name', rel='popover', data-content='Enter your first and last name.', data-original-title='Full Name')
      .control-group
        label.control-label(for='input01') Email
        .controls
          input#email.input-xlarge(type='text', name='user_email', rel='popover', data-content='What’s your email address?', data-original-title='Email')
      .control-group
        label.control-label(for='input01') Password
        .controls
          input#pass.input-xlarge(type='password', name='pwd', rel='popover', data-content='6 characters or more! ', data-original-title='Password')
      .control-group
        label.control-label(for='input01') Confirm Password
        .controls
          input#cpass.input-xlarge(type='password', name='cpwd', rel='popover', data-content='Re-enter your password for confirmation.', data-original-title='Re-Password')
      .control-group
        label.control-label(for='input01') Gender
        .controls
          select#gender(name='gender')
            option(value='') Gender
            option(value='male') Male
            option(value='female') Female
      .control-group
        label.control-label(for='input01')
        .controls
          button#signup.btn.btn-success(rel='tooltip', title='first tooltip') Create My Account
          | - or -
          a.btn.btn-primary(href='/login') Login
//
 Le javascript
//
 Placed at the end of the document so the pages load faster 
script(src='http://twitter.github.com/bootstrap/assets/js/jquery.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js')
script(type='text/javascript', src='http://jzaefferer.github.com/jquery-validation/jquery.validate.js')
script(type='text/javascript', src='/javascript/validate.js')
